.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.grid {
  max-width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 352px 432px 352px;
  width: var(--max-width);
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 1rem;
  }
  
  .grid {
    grid-template-columns: 1fr;
    max-width: 352px;
    gap: 24px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    padding: 1rem;
  }
  .grid {
    grid-template-columns: repeat(2, 50%);
    gap: 24px;
  }
}

/* Desktop */
@media (min-width: 1120px) {
  .main {
    padding: 1rem 0;
  }
}
